/*
 Title: signin.component.css
 Author: Professor Krasso
 Modified By: April Yang
 Date: 11/03/2022
 Description: Assignment 3.4 - Guarding Routes
--> */



.signin-container {
  width: 35%;
  margin: 0 auto;
  margin-top: 10%;
}
